body {
    min-height: 100vh;
}

.bg {
    background-image: linear-gradient(#6c34cc, #2786e4);
    height: 100%;
}

.content-header {
    color: white;
    height: 10rem;
}

.content-header, .content-body {
    margin-bottom: 10px;
}

.btn {
    margin: 0px 5px;
}

.btn-white {
    border-color: white;
    color: white;
}

.btn-green {
    border-color: #4dbd37;
    color: #4dbd37;
}

.btn-outline {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.btn-link {
    font-weight: bold;
    text-decoration: none;
}

.circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid black;
}

.circle-green {
    background-color: #4dbd37;
}

.circle-grey {
    background-color: #cacaca;
}

.table-upload>tbody>tr>td, .table-upload>thead>tr>th {
    text-align: center;
}

.table-upload>thead>tr>th {
    background-color: #cacaca;
    color: white;
}

.text-green {
    color: #4dbd37;
}

.text-blue {
    color: #2786e4;
}

.text-red {
    color: #e66565;
}

.text-orange {
    color: #daa16d;
}

.text-grey {
    color: #b1b1b1;
}

.text-purple {
    color:#6c34cc;
}