body {
    font-family: museosans,sans-serif;
    min-height: 100vh;
}

.bg {
    background-image: linear-gradient(#6c34cc, #2786e4);
    height: 100%;
}

.content-header {
    color: white;
    height: 10rem;
}

.content-header, .content-body {
    margin-bottom: 10px;
}

.btn {
    margin: 0px 5px;
}

.btn-white {
    border-color: white;
    color: white;
}

.btn-green {
    border-color: #4dbd37;
    color: #4dbd37;
}

.btn-green-active {
    background-color: #4dbd37;
    color: white;
}

.btn-grey {
    border-color: #b1b1b1;
    color: #b1b1b1;
}

.btn-grey-active {
    background-color: #b1b1b1;
    color: white;
}

.btn-outline {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.btn-link {
    font-weight: bold;
    text-decoration: none;
}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    line-height:20px;
}

.circle.line1::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    height: 30px;
    width: 3px;
    margin-top: 65px;
    margin-left: -1px;
	background-color: black;
}

.circle.line2::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    height: 30px;
    width: 3px;
    margin-top: 40px;
    margin-left: -1px;
	background-color: black;
}

@media (min-width : 340px) {
    .circle {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 2px solid black;
        position: relative;
        line-height:20px;
    }
    
    .circle.line1::after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        height: 30px;
        width: 3px;
        margin-top: 40px;
        margin-left: -1px;
        background-color: black;
    }
    
    .circle.line2::after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        height: 30px;
        width: 3px;
        margin-top: 40px;
        margin-left: -1px;
        background-color: black;
    }
  }
  
@media (min-width : 992px){
    .circle {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 2px solid black;
        position: relative;
        line-height:20px;
    }
    
    .circle.line1::after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 28px;
        height: 3px;
        width: 280px;
        margin-top: 10px;
        background-color: black;
    }

    .circle.line2::after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 28px;
        height: 3px;
        width: 280px;
        margin-top: 10px;
        background-color: black;
    }
  }

  @media (min-width : 1200px){
    .circle {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 2px solid black;
        position: relative;
        line-height:20px;
    }
    
    .circle.line1::after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 28px;
        height: 3px;
        width: 350px;
        margin-top: 10px;
        background-color: black;
    }

    .circle.line2::after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 28px;
        height: 3px;
        width: 350px;
        margin-top: 10px;
        background-color: black;
    }
  }

  @media (min-width : 1400px){
    .circle {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 2px solid black;
        position: relative;
        line-height:20px;
    }
    
    .circle.line1::after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 28px;
        height: 3px;
        width: 400px;
        margin-top: 10px;
        background-color: black;
    }

    .circle.line2::after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 28px;
        height: 3px;
        width: 400px;
        margin-top: 10px;
        background-color: black;
    }
  }

.circle-green {
    background-color: #4dbd37;
}

.circle-grey {
    background-color: #b1b1b1;
}

.table-upload>tbody>tr>td, .table-upload>thead>tr>th {
    text-align: center;
}

.table-upload>thead>tr>th {
    background-color: #b1b1b1;
    color: white;
}

.text-green {
    color: #4dbd37;
}

.text-blue {
    color: #2786e4;
}

.text-red {
    color: #e66565;
}

.text-orange {
    color: #daa16d;
}

.text-grey {
    color: #b1b1b1;
}

.text-purple {
    color:#6c34cc;
}

.list-roman {
    list-style-type: lower-roman;
}

.upload-field {
    min-height: 150px;
    width: 100%;
    border: 2px dashed grey;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.upload-field.active {
    border-color: #6c34cc;
}

.date-field {
    height: 350px;
}

.view-field {
    width: 100%;
    border: 1px solid black;
}

.list-group>.list-group-item {
    text-align: left;
    border: none;
}

.list-group>.list-group-item>p {
    margin-bottom: 0;
}

.tooltip-item {
    position: relative;
    display: inline-block;
}

.tooltip-item .tooltip-notes {
    visibility: hidden;
    width: 300px;
    background-color: white;
    color: #000;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    left: -5px;
    top: 105%;
}
  
.tooltip-item:hover .tooltip-notes {
    visibility: visible;
}

.gallery {
    padding: 10px;
}